.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 129%;
  color: black;
  margin: 24px 0 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 195px;
}