.profile__edit-view {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit:cover;
}

/* @media screen and (max-width: 1023px) {
    .profile__edit-view{
        margin-left: 27px;
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 767px) {
    .profile__edit-view{
        margin-bottom: 26px;
        margin-left: 0;
    }
} */