.popup__delete-card-container{
    min-width: 430px;
    max-height: 181px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
}

@media screen and (max-width: 550px) {
    .popup__delete-card-container{
      min-width: 330px;
      max-width: 330px;
    }
}