.places{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    justify-items: center;
    max-width: 880px;
    margin: 0px auto 0px;
    padding: 0 10px 0;
}