@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/opacity-button/opacity-button.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-view/profile__edit-view.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__occupation/profile__occupation.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);

@import url(./blocks/places/places.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__trash/place__trash.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__like/place__like.css);
@import url(./blocks/place/__like/_active/place__like_active.css);
@import url(./blocks/place/__name-area/place__name-area.css);
@import url(./blocks/place/__number-likes/place__number-likes.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__change-line/popup__change-line.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_big-img/popup_big-img.css);
@import url(./blocks/popup/__big-img-title/popup__big-img-title.css);
@import url(./blocks/popup/__big-img/popup__big-img.css);
@import url(./blocks/popup/__big-img-container/popup__big-img-container.css);
@import url(./blocks/popup/__delete-card-container/popup__delete-card-container.css);
@import url(./blocks/popup/__delete-title/popup__delete-title.css);
@import url(./blocks/popup/__delete-button/popup__delete-button.css);
/**активация popup**/
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/_opacity/popup_opacity.css);

/*Ошибки валидации*/
@import url(./blocks/popup/__change-line/_state/popup__change-line_state_invalid.css);
@import url(./blocks/error/error.css);
@import url(./blocks/popup/__save-button/_state_disabled/popup__save-button_state_disabled.css);